html {
    font-family: "Calibri";
}

body {
    background-attachment: fixed;
    background-color: rgb(199, 221, 221);
    background-image: url("C:/MyWeb/Test/Image/fon.jpg");
    background-size: cover;

}


.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

a {
    color: yellowgreen;
    font-size: 20px;
    font-style: italic;

}

a:active {
    color: rgb(10, 241, 29);
    border-radius: 40px;
}

a:hover {
    text-decoration: none;

}

a:visited {
    color: gray;

}

.ban {
    height: 180px;
    background-image: url("C:/MyWeb/Test/Image/forest.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid red;

}


.flex_container {
    background-color: rgb(185, 56, 56);
    column-gap: 25px;
    padding: 53px;
    display: flex;
    flex-direction: row-reverse;
}

.flex_element {
    background-color: aliceblue;
    display: flex;
    padding: 13px;
}

.flex_word {
    background-color: aqua;
    padding: 13px;
}

.flex_word2 {
    background-color: rgb(6, 46, 46);
    padding: 13px;
    flex-direction: row-reverse;
}

.flex_container0 {
    background-color: blue;
    display: flex;

    gap: 10px;
    padding: 20px;
}

.word1 {
    background-color: rgb(141, 76, 76);
    color: yellowgreen;
    height: 300px;
    width: 400px;
    flex: 0 1 auto;
}

.fixed_size {
    flex: 0 0 40%
}