html {
    font-family: "Calibri";
}

body {
    background-attachment: fixed;
    background-color: rgb(199, 221, 221);
    background-image: url("C:/MyWeb/Test/Image/fon.jpg");
    background-size: cover;

}


.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
}

a {
    color: yellowgreen;
    font-size: 20px;
    font-style: italic;

}

a:active {
    color: rgb(10, 241, 29);
    border-radius: 40px;
}

a:hover {
    text-decoration: none;

}

a:visited {
    color: gray;

}

.ban {
    height: 180px;
    background-image: url("C:/MyWeb/Test/Image/forest.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid red;

}


.flex_container {
    background-color: bisque;
    column-gap: 25px;
    padding: 53px;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    align-items: flex-start;
    flex-direction: column;

}

.ford {
    background-color: yellow;
    align-self: center;
    font-style: oblique;
    text-align: center;
    
    
}

h3 {
    margin: 0;
}

.flex_word0 {
    background-color: aliceblue;
    display: flex;
    padding: 13px;
    gap: 20px;
    align-self: center;
    width: 200px;
    height: 20px;
}

.flex_word1 {
    background-color: aqua;
    padding: 13px;
    gap: 20px;
    flex-direction: row;
    align-self: center;
    width: 200px;
    height: 20px;

}

.flex_word {
    gap: 20px;
    padding: 13px;
    border: 10px solid saddlebrown;
    outline: 5px solid goldenrod;
    outline-offset: -10px;

}


.flex_word2 {
    background-color: rgb(6, 46, 46);
    padding: 13px;
    flex-direction: row-reverse;
    align-self: center;
    width: 200px;
    height: 20px;
}

.flex_container0 {
    background-color: bisque;
    display: flex;
    justify-content: center;
    gap: 0 10px;
    padding: 20px;
    flex-wrap: wrap;
    align-content: start;
    align-items: flex-start;
}

.word1 {
    flex-wrap: wrap;
    align-content: start;
    align-items: flex-start;
    background-color: rgb(141, 76, 76);
    border: 5px salmon;
    gap: 10px;
    padding: 10px;
    color: yellowgreen;
    height: 320px;
    width: 280px;

}

.fixed_size {
    flex: 0 0 40%
}